@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply base font globally if needed */
body {
  font-family: var(--font-outfit), sans-serif;
}

/* Optional: Use for code blocks */
code,
pre {
  font-family: var(--font-fira-code), monospace;
}

/* Use this class where you want Marck Script */
.marck-script-regular {
  font-family: var(--font-marck-script), cursive;
  font-weight: 400;
  font-style: normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

p {
  margin-bottom: 8px;
}

:root {
  --gradient: linear-gradient(to top left, #091E3A, #2F80ED, #2D9EE0);
  --background: 213 77% 95%;
  --foreground: 213 5% 10%;
  --card: 213 50% 90%;
  --card-foreground: 213 5% 15%;
  --popover: 213 77% 95%;
  --popover-foreground: 213 95% 10%;
  --primary: 213 81% 41%;
  --primary-foreground: 0 0% 100%;
  --secondary: 213 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 175 30% 85%;
  --muted-foreground: 213 5% 35%;
  --accent: 175 30% 80%;
  --accent-foreground: 213 5% 15%;
  --destructive: 0 77% 30%;
  --destructive-foreground: 213 5% 90%;
  --border: 213 30% 50%;
  --input: 213 30% 24%;
  --ring: 213 81% 41%;
  --radius: 0.5rem;
}

.dark {
  --gradient: linear-gradient(to top left, #091E3A, #2F80ED, #2D9EE0);
  --background: 213 50% 10%;
  --foreground: 213 5% 90%;
  --card: 213 50% 10%;
  --card-foreground: 213 5% 90%;
  --popover: 213 50% 5%;
  --popover-foreground: 213 5% 90%;
  --primary: 213 81% 41%;
  --primary-foreground: 0 0% 100%;
  --secondary: 213 30% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 175 30% 24%;
  --muted-foreground: 213 5% 60%;
  --accent: 175 30% 24%;
  --accent-foreground: 213 5% 90%;
  --destructive: 0 77% 30%;
  --destructive-foreground: 213 5% 90%;
  --border: 213 30% 24%;
  --input: 213 30% 24%;
  --ring: 213 81% 41%;
  --radius: 0.5rem;
}


@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}


@layer utilities {
  .bg-gradient {
    background: var(--gradient);
  }
}
